.navbar{
    background-color: #8F0606;
    border: none;
}

.Nav_img{
    display: flex;
    /*max-height: 1%;*/
    /*max-width: 1%;*/
    height: 10px;
    width: 10px;
    border: none;
}
.container_align{
    margin-left: 0;
    border: none;
}
.nav_center{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.footer-container{
    min-width: 100%;
    height: fit-content;
    border: none;
}

.footer1{
    min-width: 100%;
    min-height: 100%;
    background-color: #8F0606;
    color: white;
    border: none;
    border-color: transparent;
    border-radius: 0%;
}

.title{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    font-size: large;
    padding-top: 1%;
    padding-bottom: 1%;
    border-color: transparent ;
}
@font-face{font-family:brandon-grotesque;
    src:url(https://use.typekit.net/af/1da05b/0000000000000000000132df/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
    format("woff2"),url(https://use.typekit.net/af/1da05b/0000000000000000000132df/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
    format("woff"),url(https://use.typekit.net/af/1da05b/0000000000000000000132df/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
    format("opentype");font-weight:400;font-style:normal;font-stretch:normal;font-display:auto;}
@font-face{font-family:brandon-grotesque;
    src:url(https://use.typekit.net/af/32d3ee/0000000000000000000132e0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3)
    format("woff2"),url(https://use.typekit.net/af/32d3ee/0000000000000000000132e0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3)
    format("woff"),url(https://use.typekit.net/af/32d3ee/0000000000000000000132e0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3)
    format("opentype");font-weight:400;font-style:italic;font-stretch:normal;font-display:auto;}
@font-face{font-family:brandon-grotesque;
    src:url(https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
    format("woff2"),url(https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
    format("woff"),url(https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
    format("opentype");font-weight:700;font-style:normal;font-stretch:normal;font-display:auto;}
@font-face{font-family:brandon-grotesque;
    src:url(https://use.typekit.net/af/d8f71f/0000000000000000000132e1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3)
    format("woff2"),url(https://use.typekit.net/af/d8f71f/0000000000000000000132e1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3)
    format("woff"),url(https://use.typekit.net/af/d8f71f/0000000000000000000132e1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3)
    format("opentype");
    font-weight:500;font-style:normal;font-stretch:normal;font-display:auto;}
@font-face{font-family:brandon-grotesque;
    src:url(https://use.typekit.net/af/ba2c35/0000000000000000000132e2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3)
    format("woff2"),url(https://use.typekit.net/af/ba2c35/0000000000000000000132e2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3)
    format("woff"),url(https://use.typekit.net/af/ba2c35/0000000000000000000132e2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3)
    format("opentype");font-weight:500;font-style:italic;font-stretch:normal;font-display:auto;}
@font-face{font-family:brandon-grotesque;
    src:url(https://use.typekit.net/af/031bc7/0000000000000000000132e5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3)
    format("woff2"),url(https://use.typekit.net/af/031bc7/0000000000000000000132e5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3)
    format("woff"),url(https://use.typekit.net/af/031bc7/0000000000000000000132e5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3)
    format("opentype");
    font-weight:900;font-style:normal;font-stretch:normal;font-display:auto;}