.container{
    width: 100%;
    min-height: 100%;
}

.mapCardGroup{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    border: none;
}

.mapCard{
    display: flex;
    width: 100%;
    border: none;
    // flex-wrap: wrap;
    // flex-direction: column;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    flex-grow: 1;
    border: none;
}

.map{
    display: flex;
    flex-grow: 3;
}

.autocompleteWrapper{
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;

}

.searchLabel{
    padding: 2%;
    background-color: #8F0606;
    color: white;
    display: flex;
    justify-content: center;
    border: none;
}

.inputBox{
    display: flex;
    margin-right: 0%;
    margin-left: 0.5%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.autocompleteInput{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 93%;
    padding: 2%;
    border-radius: 3px;
    border-width: 1px;
}

.items {
    display: flex;
    margin-left: -7%;
}

.item{
    padding: 7%;
    border-radius: 0;
}