.picasso {
    min-height: 100vh;
    color: whitesmoke;
    background: transparent;
    /* border-color: transparent; */
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: picasso;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    /* // transition: width height 2s; */
  }
  
  @keyframes picasso {
    0% {visibility: hidden; min-height: 100vh;}
    25% {visibility: hidden; opacity: 0; min-height: 105vh;}
    50% {visibility: visible; opacity: 1; min-height: 105vh;}
    60% {visibility: visible; opacity: 1; min-height: 105vh;}
    75% {visibility: visible; opacity: 1; min-height: 60vh;}
    100% {visibility: visible; opacity: 1; min-height: 10vh; 
        position: absolute; z-index: 1; background: transparent; top: 30%; padding-top: 5%;}
  }

  .picassoImg, .picassoBody{
    /* background: #8F0606; */
  }

  .logoBox{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .picassoBody{
    height: fit-content;
    color: white;
  }
  
  .picasso_description{
    font-family: Copperplate !important;
    color:rgb(50, 19, 18);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 5vw;
    /* background-color: #8F0606; */
    height: fit-content;
  }


.involvedContainer{
    min-height: 100vh;
    /* background: #8F0606; */
  }
  
  .involvePage{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .involvedtitle{
    height: fit-content;
    align-items: center;
    border: none;
    margin-top: 10%;
    background: transparent;
    
  }
  
  .mainBody{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .frontGroup{
    width: max-content;
  }

  .charityButtonFrame{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px;
  }

.gifBg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/female-period-support.appspot.com/o/homepage_start.GIF?alt=media&token=7f369495-a24a-4691-aeb3-3aaebf1f1283');
}

  .imgGroup{
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    min-height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1%;
  }

  .stepGroup{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border: none;
  }
  
  .step1, .step2, .step3, .step4{
    border: none;
    text-align: justify;
    padding: 2%;
    /* padding: 1%; */
    width: 100%;
    height: fit-content;
  }

  .step1{
    display: flex;
    flex-direction: row;
  }

  .step2{
    display: flex;
    flex-direction: row-reverse;
  }

  .step3{
    display: flex;
    flex-direction: row;
  }

  .step4{
    display: flex;
    flex-direction: row-reverse;
  }

  .stepImg{
    width: 30%;
  }

  .cardImg{
    width: 30%;
    margin: 2%;
  }

  .textbox{
    width: 40%;
  }
  
  .donateDescriptionGroup{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 2%;
  }
  
  .donateDescription{
    border: none;
    max-width: 60%;
    background: transparent;
  }
  
  .charityButton{
    width: 25%;
  }




.homePage{
  margin-top: -10px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}




.homePageTxtGroup{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourMission{
  background-color: #D58989;
  min-height: 27vh;
}

.txtGroup{
  background-color:transparent;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.missionTitle{
  font-size: 4em;
  font-family: "Brush Script MT";
  color: white;
}

.missionText{
  font-size: 1.5em;
  font-family: "Tahoma";
  color: white;
}

.getInvolved{
  padding: 1em;
  min-height: 5vh;
  color: #D58989;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startImg{
  width: 100%;
  align-items: center;
  max-height: 70%;
  border: none;
  filter: blur(3px);
}

.titlesize{
    font-size: 6vw;
  }

.ourGoals{
  background-color: white;
  min-height: 27vh;
}


.goalTitle{
  font-size: 4em;
  font-family: "Brush Script MT";
  color: grey;
}

.goalText{
  font-size: 1.5em;
  font-family: "Tahoma";
  color: grey;
}

.imgFps{
    display: flex;
    align-items: center;
    justify-content: center;
}

.storyBackground{
  min-height: 40vh;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.slogan{
  font-size: 7em;
  font-family: "Brush Script MT";
}