.involvedContainer{
    min-height: 100vh;
  }
  
  .involvePage{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .involvedtitle{
    height: fit-content;
    align-items: center;
    border: none;
    margin-top: 10%;
    
  }
  
  .mainBody{
    display: flex;
    flex-wrap: wrap;
  }
  
  .stepGroup{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: none;
  }
  
  .step1, .step2, .step3, .step4{
    border: none;
    text-align: justify;
    padding: 1%;
  }
  
  .stepImg{
    width: 30%;
  }
  
  .donateDescriptionGroup{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .donateDescription{
    border: none;
    max-width: 60%;
    /* align-items: center; */
  }
  
  .charityButton{
    width: 50%;
  }

  .titlesize{
    font-size: 6vw;
  }

.ourMission{
  background-color: #D58989;
  min-height: 27vh;
}

.homePage{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.homePageTxtGroup{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txtGroup{
  background-color:transparent;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.missionTitle{
  font-size: 4em;
  font-family: "Brush Script MT";
  color: white;
}

.missionText{
  font-size: 1.5em;
  font-family: "Tahoma";
  color: white;
}